@import '../public/fonts/stylesheet.scss';

$accent: #38495b;

$bgOne: #e79b7f;

$bgTwo: #efc1c7;

$bgThree: #ece0d1;

$bgFour: #efc1c7;

$bgFive: #cba15d;

$white: #fff2e3;

$box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
	rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
	rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

$fondSizeH1: 39px;
$fondSizeText: 17px;
